  <header>
      <h1>Meu Carrinho</h1>
  </header>

  <main>
      <div class="card-container">
          {{#each carrinho}}
          <div class="card">
              <img src="{{#if this.Produto.image}}{{this.Produto.image}}{{else}}/images/default-product.png{{/if}}" alt="{{this.Produto.name}}">
              <div class="card-content">
                  <span class="card-title">{{this.Produto.name}}</span>
                  <p class="card-price">{{this.Produto.priceFormatted}}</p>
                  <p>Quantidade: {{this.quantity}}</p>
              </div>
              <div class="card-actions">
                    <button class="btn-ed"><a href="/produtos/produto/detalhes/{{this.Produto.id}}">Ver Detalhes</a></button>
                  <form action="/carrinho/remover/{{this.Produto.id}}" method="POST" onsubmit="return confirm('Tem certeza que deseja remover este produto?');">
                      <button type="submit" class="btn-del"><i class="bi bi-trash"></i> Remover</button>
                  </form>
              </div>
          </div>
          {{/each}}
      </div>

      <p>Total de compras: <b>R$ {{total}}</b></p>
  </main>