<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
    </div>
    <h3>Área do cliente</h3>
    <ul>
        {{#each produtos}}
            <li>
                <span class="label">{{this.title}}</span>
                <span class="actions">
                    <a href="/produtos/edit/{{this.id}}" class="btn">Editar</a>
                    <form action="/produtos/remove" method="POST">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <input type="submit" value="Excluir">
                    </form>
                </span>
            </li>
        {{/each}}
    </ul>
    {{#if emptyProdutos}}
        <p>Ainda não há nenhum produto no seu carrinho! adicionar <a href="/produtos/add">aqui!</a></p>
    {{/if}}

    {{#if totalPages}}
        <div class="pagination">
            {{#if (gt currentPage 1)}}
                <a href="?page={{subtract currentPage 1}}">Anterior</a>
            {{/if}}
            {{#each (range 1 totalPages)}}
                <a href="?page={{this}}" class="{{#if (eq this ../currentPage)}}active{{/if}}">{{this}}</a>
            {{/each}}
            {{#if (lt currentPage totalPages)}}
                <a href="?page={{add currentPage 1}}">Próxima</a>
            {{/if}}
        </div>
    {{/if}}
</div>
