<main>
{{#if search}}
<h1>Você está buscando por: <span>{{search}}</span></h1>
    {{#if produtosQty}}
        <p>Encontramos <span>{{produtosQty}}</span> produto(s)</p>
    {{else}}
        <p>Nenhum produto foi encontrado</p>
    {{/if}}
{{else}}
{{/if}}

{{#if emptyProdutos}}
    <p>Nenhum produto encontrado.</p>
{{else}}
    <div class="card-container">
        {{#each produtos}}
            <div class="card">
                <a href="/produtos/produto/{{this.id}}">
                    {{#if this.image}}
                        <img src="/{{image}}" alt="{{name}}">
                    {{else}}
                        <p>Imagem não disponível</p>
                    {{/if}}
                    <div class="card-content">
                        <span class="card-title">{{truncate this.name 50}}</span>
                        <p class="card-price">{{this.priceFormatted}}</p>
                        {{#if this.quant}}
                            <p><strong>Quantidade:</strong> {{this.quant}}</p>
                            <form action="/carrinho/add/{{this.id}}" method="POST">
                                <button type="submit" class="btn-add">Adicionar ao Carrinho</button>
                            </form>
                        {{else}}
                            <p style="color: red; font-weight: bold;">PRODUTO INDISPONÍVEL</p>
                            <button class="btn-off" disabled>Indisponível</button>
                        {{/if}}
                    </div>
                </a>
            </div>
        {{/each}}
    </div>
{{/if}}

<div class="pagination">
    {{#if (gt currentPage 1)}}
        <a href="?page={{subtract currentPage 1}}&search={{search}}&order={{order}}">Anterior</a>
    {{/if}}

    {{#each (range 1 totalPages)}}
        <a href="?page={{this}}&search={{../search}}&order={{../order}}" class="{{#if (eq ../currentPage this)}}active{{/if}}">{{this}}</a>
    {{/each}}

    {{#if (lt currentPage totalPages)}}
        <a href="?page={{add currentPage 1}}&search={{search}}&order={{order}}">Próxima</a>
    {{/if}}
</div>
</main>