<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        .products-grid {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 20px;
            list-style: none;
            padding: 0;
        }

        .products-grid li {
            padding: 16px;
            border-radius: 8px;
        }

        .products-grid li a{
            text-decoration: none;
        }

        .products-grid h3 {
            margin: 10px 0;
        }

        .products-grid span {
            margin-top: 0;
            font-size: 14px;
        }

        .products-grid p {
            margin: 8px 0;
        }

        .products-grid img {
            width: 100%;
            height: auto;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Todos os Produtos</h1>
    </header>

    <main>
        {{#if emptyProdutos}}
            <p>Nenhum produto encontrado.</p>
        {{else}}
            <ul class="products-grid">
                {{#each produtos}}
                    <li>
                        <a href="/produtos/produto/{{this.id}}">                        
                        {{#if this.image}}
                            <img src="{{this.image}}" alt="{{this.name}}">
                        {{else}}
                            <p>Imagem não disponível</p>
                        {{/if}}
                        <span>{{truncate this.name 50}}</span>
                        <h3>R$ {{this.price}}</h3>
                        </a>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
        <div class="pagination">
            {{#if (gt currentPage 1)}}
                <a href="?page={{subtract currentPage 1}}&search={{search}}&order={{order}}">Anterior</a>
            {{/if}}

            {{#each (range 1 totalPages)}}
                <a href="?page={{this}}&search={{../search}}&order={{../order}}" class="{{#if (eq ../currentPage this)}}active{{/if}}">{{this}}</a>
            {{/each}}

            {{#if (lt currentPage totalPages)}}
                <a href="?page={{add currentPage 1}}&search={{search}}&order={{order}}">Próxima</a>
            {{/if}}
        </div>
    </main>
</body>
</html>