<main>
{{#if search}}
<h1>Você está buscando por: <span>{{search}}</span></h1>
    {{#if produtosQty}}
        <p>Encontramos <span>{{produtosQty}}</span> produto(s)</p>
    {{else}}
        <p>Nenhum produto foi encontrado</p>
    {{/if}}
{{else}}
<h1>Todos os produtos</h1>
{{/if}}

<!-- Exibir categorias -->
<div class="categories">
    <h2>Categorias</h2>
    <ul>
        {{#each categorias}}
            <li><a href="/produtos/categoria/{{this}}">{{this}}</a></li>
        {{/each}}
    </ul>
</div>

{{#if emptyProdutos}}
    <p>Nenhum produto encontrado.</p>
{{else}}
    <div class="card-container">
        {{#each produtos}}
            <div class="card">
                <a href="/produtos/produto/{{this.id}}">
                {{#if this.image}}
                    <img src="/uploads/produtos/{{this.image}}" alt="{{this.name}}">
                {{else}}
                    <p>Imagem não disponível</p>
                {{/if}}
                <div class="card-content">
                <span class="card-title">{{truncate this.name 50}}</span>
                <p class="card-price">{{this.priceFormatted}}</p>
                </div>
                </a>
            </div>
        {{/each}}
    </div>
{{/if}}

<div class="pagination">
    {{#if (gt currentPage 1)}}
        <a href="?page={{subtract currentPage 1}}&search={{search}}&order={{order}}">Anterior</a>
    {{/if}}

    {{#each (range 1 totalPages)}}
        <a href="?page={{this}}&search={{../search}}&order={{../order}}" class="{{#if (eq ../currentPage this)}}active{{/if}}">{{this}}</a>
    {{/each}}

    {{#if (lt currentPage totalPages)}}
        <a href="?page={{add currentPage 1}}&search={{search}}&order={{order}}">Próxima</a>
    {{/if}}
</div>
</main>