<main class="produtos-detalhes">
    <div class="product-details">
        <h2>{{produto.name}}</h2>
        {{#if produto.image}}
            <img src="{{produto.image}}" alt="{{produto.name}}">
        {{else}}
            <p>Imagem não disponível</p>
        {{/if}}            
        <p><strong>Marca:</strong> {{produto.marca}}</p>
        <p><strong>Descrição:</strong> {{produto.description}}</p>
        <p><strong>Preço:</strong> R$ {{produto.price}}</p>

        {{#if produto.quant}}
            <p><strong>Quantidade:</strong> {{produto.quant}}</p>
        {{else}}
            <p style="color: red; font-weight: bold;">PRODUTO INDISPONÍVEL</p>
        {{/if}}

        <p><strong>Categoria:</strong> {{produto.category}}</p>

        {{#if produto.quant}}
            <form action="/carrinho/add/{{produto.id}}" method="POST">
                <button type="submit" class="btn btn-primary">Adicionar ao Carrinho</button>
            </form>
        {{else}}
            <button class="btn btn-secondary" disabled>Indisponível</button>
        {{/if}}
    </div>
</main>